a {
  color: brown;
  text-decoration: none;
}
h1 {
  text-align: center;
  border-bottom: 2px solid gray;
  margin: 0;
  height: 50px;
}
img {
  width: 50%;
}
ol {
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
  padding: 20px;
}
#menu {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#explain {
  padding: 20px;
}
@media (max-width: 700px) {
  #menu {
    display: block;
  }
  ol {
    border-right: none;
  }
}
